name: DevSecOps Safe Pipeline

on:
  push:
  pull_request:

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # -----------------------
    # SAST - Semgrep
    # -----------------------
    - name: Run Semgrep
      uses: semgrep/semgrep-action@v1
      with:
        config: p/owasp-top-ten

    # -----------------------
    # Secrets Scan - Gitleaks
    # -----------------------
    - name: Run Gitleaks
      uses: gitleaks/gitleaks-action@v2

    # -----------------------
    # Dependency Scan - OWASP Dependency-Check
    # -----------------------
    - name: Run Dependency-Check
      uses: dependency-check/Dependency-Check_Action@main
      with:
        project: "devsecops-safe-pipeline"
        path: "."
        format: "HTML"
        out: "dependency-check-report"

    - name: Upload Dependency Report
      uses: actions/upload-artifact@v4
      with:
        name: dependency-check-report
        path: dependency-check-report
